@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #147b74;
    /* or any other variables/style */
  }
  [data-theme="red"] {
    --accent: #c4032a;
  }
  [data-theme="pink"] {
    --accent: #df4996;
  }
  [data-theme="blue"] {
    --accent: #207ecc;
  }
  body {
    font-size: 16px;
    font-family: ;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  .section {
    background-color: #151515;
    min-height: 100vh;
    display: block;
    z-index: 0;
    opacity: 1;
    padding: 30px;
  }
  .container {
    max-width: 1100px;
    margin: auto;
  }

  .home__illustration::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--accent);
    border-right: 10px solid var(--accent);
    right: -10px;
    bottom: -40px;
  }
  .home__illustration::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--accent);
    border-left: 10px solid var(--accent);
    left: -20px;
    top: -40px;
  }

  .aside .logo a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--accent);
    border-left: 5px solid var(--accent);
    bottom: 0;
    left: 0;
  }
  .aside .logo a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--accent);
    border-right: 5px solid var(--accent);
    top: 0;
    right: 0;
  }

  .nav-toggle.active {
    left: 18rem;
    top: 0rem;
    border: none;
  }

  .nav-list__link.active {
    color: var(--accent);
    transition: 0.2s ease-in;
  }

  .nav-list__link {
    transition: 0.2s ease-in;
  }

  .nav-list__link:hover,
  .nav-list__link:focus,
  .nav-list__link.active {
    box-shadow: 0 0.5em 0.5em -0.4em var(--accent);
    transform: translateY(-0.25em);
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
  }
  .open-theme-switcher {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .theme-switcher.active {
    right: 0;
    z-index: 90;
  }
}
