@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #0d9488;
  }
  [data-theme="pink"] {
    --accent: #db2777;
  }
  [data-theme="indigo"] {
    --accent: #818cf8;
  }
  [data-theme="yellow"] {
    --accent: #eab308;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: #0e1217;
  }

  .section {
    background-color: #0e1217;
    min-height: 100vh;
    display: block;
    z-index: 0;
    opacity: 1;
    padding: 30px;
  }

  .container {
    max-width: 1100px;
    margin: auto;
  }

  .aside .logo .logo-link::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--accent);
    border-left: 5px solid var(--accent);
    bottom: 0;
    left: 0;
  }
  .aside .logo .logo-link::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--accent);
    border-right: 5px solid var(--accent);
    top: 0;
    right: 0;
  }

  .nav-list__link.active {
    color: var(--accent);
    transition: 0.2s ease-in-out;
  }

  .nav-list__link {
    transition: 0.2s ease-in-out;
  }

  .nav-list__link:hover,
  .nav-list__link:focus,
  .nav-list__link.active {
    box-shadow: 0 0.5em 0.5em -0.4em var(--accent);
    transform: translateY(-0.25em);
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
  }

  .open-theme-switcher {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
